<legend>Список родительских собраний</legend>

<div style="margin-top: 18px;" class="btn-toolbar">
  <div class="btn-group">
    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
      Отфильтровать
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
			<li><%= link_to "Все классы", meetings_path %></li>
			
      <% @classes.each do |c| %>
			  <li><%= link_to c.class_code, meetings_path( :class_code => c.class_code ) %></li>			
			<% end %>
    </ul>
  </div>
</div>

<table class="table table-bordered table-striped" name="teachers">
  <thead>
    <tr>
      <th>Тема</th>                     
      <th>Дата</th>                     
      <th>Время</th>                     
      <th>Класс</th>                     
      <th>Кабинет</th>                                        
    </tr>
  </thead>
  <tbody>
    <% if @meeting_exist %>        
      <% @meetings.each do |m| %>          
        <tr class="cross" onclick = "location.href='<%= edit_meeting_path( :id => m.id ) %>'">
          <td><%= m.meeting_theme %></td>
          <td><%= m.meeting_date.strftime("%d.%m.%Y") %></td>
          <td><%= m.meeting_time.strftime("%H:%M") %></td>
          <td><%= m.school_class.class_code %></td>
          <td><%= m.meeting_room %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Создать собрание", new_meeting_path, :class => "btn btn-primary btn-large" %>