<legend>Создание учетной записи Учителя</legend>

<%= form_for @user, :url => create_teacher_url,
                    :html => {:class => "form-horizontal"} do |f| %>
  <%= field_set_tag do %>
		<%= f.fields_for :teacher do |builder| %>
      <div class="control-group">
        <%= builder.label :teacher_last_name, "Фамилия", :class => "control-label" %>
        <div class="controls">
          <%= builder.text_field :teacher_last_name,
                                 :placeholder => @everpresent_field_placeholder %>
        </div>
      </div>

      <div class="control-group">
        <%= builder.label :teacher_first_name, "Имя", :class => "control-label" %>
        <div class="controls">
          <%= builder.text_field :teacher_first_name,
                                 :placeholder => @everpresent_field_placeholder %>
        </div>
      </div>

      <div class="control-group">
        <%= builder.label :teacher_middle_name, "Отчество", :class => "control-label" %>
        <div class="controls">
          <%= builder.text_field :teacher_middle_name,
                                 :placeholder => @everpresent_field_placeholder %>
        </div>
      </div>

      <div class="control-group">
        <%= builder.label :teacher_sex, "Пол", :class => "control-label" %>
        <div class="controls">
          <%= label_tag nil, nil, :class => "radio" do %>
            <%= builder.radio_button :teacher_sex, 'm' %>
            Мужской
          <% end %>

          <%= label_tag nil, nil, :class => "radio" do %>
            <%= builder.radio_button :teacher_sex, 'w' %>
            Женский
          <% end %>
        </div>
      </div>

      <div class="control-group">
        <%= builder.label :teacher_birthday, "Дата рождения", :class => "control-label" %>

        <div class="controls">
          <%= builder.date_select :teacher_birthday,
                            { :start_year => 1970, :end_year => date_year_from_now(),
                              :order => [:day, :month, :year],
                              :use_month_names => russian_names_of_months() },
                            { :class => "span2" } %>
        </div>
      </div>

      <hr/>

      <%= builder.fields_for :teacher_phone do |tp_fields| %>
        <div class="control-group">
          <%= tp_fields.label :teacher_mobile_number, "Мобильный телефон", :class => "control-label" %>
          <div class="controls">
            <%= tp_fields.text_field :teacher_mobile_number,
                              :placeholder => @everpresent_field_placeholder %>
          </div>
        </div>

        <div class="control-group">
          <%= tp_fields.label :teacher_home_number, "Домашний телефон", :class => "control-label" %>
          <div class="controls">
            <%= tp_fields.text_field :teacher_home_number,
                              :placeholder => @everpresent_field_placeholder %>
          </div>
        </div>
      <% end %>

      <hr/>

      <%= builder.fields_for :teacher_education do |edu_fields| %>
        <div class="control-group">
          <%= edu_fields.label :teacher_education_university, "Название ВУЗа", :class => "control-label" %>
          <div class="controls">
            <%= edu_fields.text_field :teacher_education_university,
                                      :placeholder => @everpresent_field_placeholder %>
          </div>
        </div>

        <div class="control-group">
          <%= edu_fields.label :teacher_education_year, "Дата выпуска из ВУЗа",
                               :class => "control-label" %>

          <div class="controls">
            <%= edu_fields.date_select :teacher_education_year,
                              { :start_year => 1970, :end_year => date_year_from_now(),
                                :order => [:day, :month, :year],
                                :use_month_names => russian_names_of_months() },
                              { :class => "span2" } %>
          </div>
        </div>

        <div class="control-group">
          <%= edu_fields.label :teacher_education_graduation, "Степень", :class => "control-label" %>
          <div class="controls">
            <%= edu_fields.text_field :teacher_education_graduation,
                                      :placeholder => @everpresent_field_placeholder %>
          </div>
        </div>

        <div class="control-group">
          <%= edu_fields.label :teacher_education_speciality, "Специальность", :class => "control-label" %>
          <div class="controls">
            <%= edu_fields.text_field :teacher_education_speciality,
                                      :placeholder => @everpresent_field_placeholder %>
          </div>
        </div>
      <% end %>
		<% end %>

	  <%= f.fields_for :teacher do |builder| %>
  	  <div class="control-group">
        <%= builder.label :teacher_category, "Категория", :class => "control-label" %>
        <div class="controls">
          <%= builder.text_field :teacher_category %>
        </div>
      </div>
	  <% end %>

	  <hr/>

	  <%= render :partial => 'shared/user_fields_new',
	             :locals => { :f => f,
	                          :field_placeholder => @everpresent_field_placeholder,
                            :login_field_id => "user_user_login",
                            :password_field_id => "user_password"
	                        }
	  %>
	<% end %>

	<%= f.submit "Создать", :class => "btn btn-large btn-success" %>
<% end %>