<legend>Создание учетной записи Завуча</legend>

<%= form_for @user, :url => create_school_head_url, :html => {:class => "form-horizontal"} do |f| %>
		<%= field_set_tag do %>
		  <div class="control-group">
		    <%= f.label :user_login, "Логин учетной записи", :class => "control-label" %>
		    <div class="controls">
		      <%= f.text_field :user_login, :value => "" %>
				  <%= link_to_function "Сгенерировать логин", "generate_login()"%>
		    </div>
		  </div>

		  <div class="control-group">
		    <%= f.label :password, "Пароль учетной записи", :class => "control-label" %>
		    <div class="controls">
		      <%= f.text_field :password %>
					<%= link_to_function "Сгенерировать пароль", "generate_password()"%>
		    </div>
		  </div>
		<% end %>

    <%= f.submit "Создать", :class => "btn btn-large btn-success" %>
<%  end %>

<%#= content_tag(:button, "Foo", :class => "btn", :onclick=>"javascript:window.print()")%>