<%= f.hidden_field "[#{i}][tt_number_of_lesson]", :value => number_of_lesson %>
<%= f.hidden_field "[#{i}][tt_day_of_week]", :value => day_of_week %>
             
<td><%= number_of_lesson %></td>
<td>
  <%= select_tag( "timetable[#{i}][curriculum_id]",                                                
                  options_for_select( @subjects ),
                  { :include_blank => true }) %>
</td>
<td>
  <%= text_field_tag "timetable[#{i}][tt_room]",'', :class => "span1", :maxlength => 3 %>
</td>
<td>
  <%= select_tag( "timetable[#{i}][tt_type]",                                                
                  options_for_select( [ ["Primary lesson", "Primary lesson"],
                                      ["Extra", "Extra"] ]  ),
                  { :include_blank => true }) %>
</td>