<legend>Расписание <%= @class_code %></legend>

<%# Button to show timetable for class. %>

<div style="margin-top: 18px;" class="btn-toolbar">
  <div class="btn-group">
    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
      Показать расписание для класса
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
			
      <% @classes.each do |c| %>
			  <li>
			    <%= link_to c.class_code, timetables_path( :class_code => c.class_code ) %>
			  </li>			
			<% end %>
    </ul>
  </div>
</div>

<%# Timetable for class. %>

<% if params.has_key?( :class_code ) %>
  <table class="table table-bordered table-striped" name="timetable_for_school_class">
    <%= render :partial => 'theads', :locals => { :day => 'Понедельник' } %>
    <%= render :partial => 'tbody_day', :locals => { :timetables_for_day => @tt_monday } %>

    <%= render :partial => 'theads', :locals => { :day => 'Вторник' } %>
    <%= render :partial => 'tbody_day', :locals => { :timetables_for_day => @tt_tuesday } %>
              
    <%= render :partial => 'theads', :locals => { :day => 'Среда' } %>
    <%= render :partial => 'tbody_day', :locals => { :timetables_for_day => @tt_wednesday } %>      
    
    <%= render :partial => 'theads', :locals => { :day => 'Четверг' } %>
    <%= render :partial => 'tbody_day', :locals => { :timetables_for_day => @tt_thursday } %>      
    
    <%= render :partial => 'theads', :locals => { :day => 'Пятница' } %>
    <%= render :partial => 'tbody_day', :locals => { :timetables_for_day => @tt_friday } %>      
  </table>
<% end %>

<%# Button to create timetable for class. %>

<div style="margin-top: 18px;" class="btn-toolbar">
  <div class="btn-group">
    <a href="#" data-toggle="dropdown" class="btn btn-primary btn-large dropdown-toggle">
      Создать расписание для класса
      <span class="caret"></span>
    </a>
    
    <ul class="dropdown-menu">			
      <% @classes.each do |c| %>
			  <li>
			    <%= link_to c.class_code, new_timetable_path( :class_code => c.class_code ) %>
			  </li>			
			<% end %>
    </ul>
  </div>
</div>