<legend>Создание расписания занятий для <%= @class.class_code %> класса</legend>

<%= form_for @tt, :html => {:class => "form-horizontal"} do |f| %>
  <%= field_set_tag do %> 
    <table class="table-bordered table-striped" name="timetable">

      <%= render :partial => 'theads', :locals => { :day => 'Понедельник' } %>
      <tbody>
        <% 1.upto(8) do |i| %>                                                            <%# i is key for timetable part. Should be unique. %>
          <tr> 
              <%= render :partial => 'timetable_fields', 
                  :locals => { :f => f, :i => i, :day_of_week => 'Mon',
                               :number_of_lesson => i, :school_class_id => @class.id } %> <%# number_of_lesson should be > 0 and < 10 %>
          </tr>
        <% end %>
      </tbody>
      
            
      <%= render :partial => 'theads', :locals => { :day => 'Вторник' } %>      
      <tbody>
        <% 9.upto(16) do |i| %>
          <tr> 
              <%= render :partial => 'timetable_fields', 
                  :locals => { :f => f, :i => i, :day_of_week => 'Tue',
                               :number_of_lesson => i - 8, :school_class_id => @class.id } %>  
          </tr>
        <% end %>
      </tbody>
      
                  
      <%= render :partial => 'theads', :locals => { :day => 'Среда' } %>
      <tbody>
        <% 17.upto(24) do |i| %>
          <tr> 
              <%= render :partial => 'timetable_fields', 
                  :locals => { :f => f, :i => i, :day_of_week => 'Wed',
                               :number_of_lesson => i - 8*2, :school_class_id => @class.id } %>  
          </tr>
        <% end %>
      </tbody>
      
      
      <%= render :partial => 'theads', :locals => { :day => 'Четверг' } %>  
      <tbody>
        <% 25.upto(32) do |i| %>
          <tr> 
              <%= render :partial => 'timetable_fields', 
                  :locals => { :f => f, :i => i, :day_of_week => 'Thu',
                               :number_of_lesson => i - 8*3, :school_class_id => @class.id } %>  
          </tr>
        <% end %>
      </tbody>
      

      <%= render :partial => 'theads', :locals => { :day => 'Пятница' } %>      
      <tbody>
        <% 33.upto(40) do |i| %>
          <tr> 
              <%= render :partial => 'timetable_fields', 
                  :locals => { :f => f, :i => i, :day_of_week => 'Fri',
                               :number_of_lesson => i - 8*4, :school_class_id => @class.id } %>  
          </tr>
        <% end %>
      </tbody> 
    </table> 
    
    <br/>  
                   
    <%= f.submit "Создать", :class => "btn btn-large btn-success" %>
  <% end %>
<% end %>