<legend>Список учетных записей системы</legend>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Категория пользователя</th>
      <th>Категория в Базе Данных</th>
      <th>Логин</th>
      <th>Пароль</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="cross" onclick = "location.href='<%= edit_user_path( :id => user.id ) %>'"> <%# Go to edit page of user we want to edit. %>
        <td><%= translate_user_role( user.user_role ) %></td>
        <td><%= user.user_role %></td>
        <td><%= user.user_login %></td>
        <% if user.encrypted_password.blank? %>
          <td></td>
        <% else %>
          <td>*********</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-top: 18px;" class="btn-toolbar">
  <div class="btn-group">
    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Создать учетную запись<span class="caret"></span></a>
    <ul class="dropdown-menu">
			<li><%= link_to "Заместитель директора по учебной работе", admins_new_school_head_path %></li>
			<li><%= link_to "Учитель", admins_new_teacher_path %></li>
    </ul>
  </div>
</div>