<%# This is old! %>

<div class="control-group">
  <%= f.label :user_login, "Логин учетной записи", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :user_login,
                     :placeholder => field_placeholder %>
	  <%= link_to_function "Сгенерировать логин",
	                       "generate_login_with_id('#{login_field_id}')", :class => "btn" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, "Пароль учетной записи", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :password,
                     :placeholder => field_placeholder %>
		<%= link_to_function "Сгенерировать пароль",
		                     "generate_password_with_id('#{password_field_id}')",
		                     :class => "btn" %>
  </div>
</div>