<legend>Итоги</legend>

<% unless @subject.nil? %>

  <%# CHOOSING CLASS. %>
  <div style="margin-top: 18px;" class="btn-toolbar">
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
        Выбрать класс
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
  			<% @classes.each do |c| %>
  			  <li>
  			    <%= link_to c.class_code, results_path( :class_code => c.class_code,
  			                                            :subject_name => params[:subject_name]) %>
  			  </li>
  			<% end %>
      </ul>
    </div>
  </div>

  <%# PUPILS/RESULTS. %>
  <table class="table table-bordered" name="journals">
    <thead>
      <tr>
        <th>Ученик\Итог</th>
        <th>1я Четверть</th>
        <th>2я Четверть</th>
        <th>3я Четверть</th>
        <th>4я Четверть</th>
        <th>Год</th>
      </tr>
    </thead>
    <tbody>
      <% if @pupils_exist %>
        <% @pupils.each do |p| %>
          <% results = pupil_results( p, @teacher, @subject.subject_name, @school_class ) %> <%# All results of current pupil for current subject. %>

          <% if results.nil? %>                                                           <%# If nobody created results yet. %>
            <tr class="cross"
                onclick = "location.href='<%= new_result_path(
                                              :class_code => params[:class_code],
                                              :subject_name => params[:subject_name],
                                              :p_id => p.id ) %>'">                       <%# p_id is pupil_id %>
              <td><%= pupil_full_names( p ) %></td>

              <td></td>                                                                   <%# quarter_1 estimation %>
              <td></td>                                                                   <%# quarter_2 estimation %>
              <td></td>                                                                   <%# quarter_3 estimation %>
              <td></td>                                                                   <%# quarter_4 estimation %>
              <td></td>                                                                   <%# year      estimation %>
            </tr>
          <% else %>                                                                      <%# If results have been created. %>
            <tr class="cross"
              onclick = "location.href='<%= edit_result_path(
                                            :id => results.id,
                                            :class_code => params[:class_code],
                                            :subject_name => params[:subject_name],
                                            :p_id => p.id ) %>'">                         <%# p_id is pupil_id %>
              <td><%= pupil_full_names( p ) %></td>

              <td> <%= results.quarter_1 %> </td>                                         <%# quarter_1 estimation %>
              <td> <%= results.quarter_2 %> </td>                                         <%# quarter_2 estimation %>
              <td> <%= results.quarter_3 %> </td>                                         <%# quarter_3 estimation %>
              <td> <%= results.quarter_4 %> </td>                                         <%# quarter_4 estimation %>
              <td> <%= results.year %>      </td>                                         <%# year      estimation %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>