<% unless @school_class.nil? %>
  <legend>Мероприятия <%= @class_code %> класса</legend>

  <table class="table table-bordered table-striped" name="teachers">
    <%= render :partial => 'theads' %>
    <tbody>
      <% if @event_exist %>
        <% @events.each do |e| %>
          <tr class="cross" onclick = "location.href='<%= edit_event_path( :id => e.id ) %>'">
            <%= render :partial => 'tds', :locals => { :e => e } %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Создать", new_event_path, :class => "btn btn-primary btn-large" %>
<% end %>