<legend>Список приказов</legend>

<table class="table table-bordered table-striped" name="teachers">
  <thead>
    <tr>
      <th>Номер приказа</th>                     
      <th>Текст</th>                     
      <th>Дата создания</th>                     
      <th>Класс</th>                     
      <th>Ученик</th>                     
    </tr>
  </thead>
  <tbody>
    <% if @orders_exist %>        
      <% @orders.each do |o| %>          
        <tr class="cross" onclick = "location.href='<%= edit_order_path( :id => o.id ) %>'">
          <td><%= o.number_of_order %></td>
          <td><%= o.date_of_order %></td>
          <td><%= o.text_of_order %></td>          
          <td>
            <% if o.school_class.nil? %>
              --
            <% else %>  
              <%= o.school_class.class_code %>
            <% end %>
          </td>
          <td>
            <% if o.pupil.nil? %>
             --
            <% else %>
              <%= pupil_full_names( o.pupil ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Создать", new_order_path, :class => "btn btn-primary btn-large" %>