<legend>Редактирование класса</legend>

<%= form_for @class, :html => {:class => "form-horizontal"} do |f| %>
  <%= field_set_tag do %>
    <div class="control-group">
      <%= f.label :class_code, "Номер класса", :class => "control-label" %>
      
      <div class="controls">
        <%= f.text_field :class_code, 
                         :class => "span2",
                         :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :date_of_class_creation, "Дата создания класса", 
                  :class => "control-label" %>
          
      <div class="controls">
        <%= f.text_field :date_of_class_creation, 
                         :class => "span2",
                         :placeholder => @everpresent_field_placeholder %>
      </div>    
    </div>
    
    <div class="control-group">
	    <%= f.label :teacher_leader_id, "ФИО классного руководителя", 
	        :class => "control-label" %>
	        
	    <div class="controls">
        <%= f.select( :teacher_leader_id,                                                # Here we use 'select' instead of 'select_tag' because 'select' allows us to give builder ('tl.select' here).
                      options_for_select( @leaders, @choosen_teacher )) %>  	     
	    </div>
	  </div>
    
    <div class="control-group">
      <div class="controls">
        <%= hidden_field_tag "school_class[pupil_ids][]", nil %>
        <% Pupil.all.each do |pupil| %>
          <%= check_box_tag "school_class[pupil_ids][]", pupil.id,
                            @class.pupil_ids.include?(pupil.id)%>
          <%= "#{pupil.pupil_last_name} #{pupil.pupil_first_name} #{pupil.pupil_middle_name}"%><br>
        <% end %>                                                                 
      </div>  
    </div>
    
    <%= f.submit "Изменить", :class => "btn btn-large btn-warning" %>
  <% end %>
<% end %>