<legend>Классы</legend>

<table class="table table-bordered table-striped" name="school_classes">
  <thead>
    <tr>
      <th>Номер класса</th>      
      <th>Классный руководитель</th>
      <th>Дата создания класса</th>                          
    </tr>
  </thead>
  <tbody>
    <% if @class_exist and @teachers_leaders_exist and @teachers_exist %>
      <% @classes.each do |c| %>
        <tr class="cross" onclick="location.href='<%= edit_school_class_path( :id => c.id ) %>'">
          <td><%= c.class_code %></td>
          <td>
              <%# if not c.teacher_leader.nil? %>
                <%= teacher_full_names( c.teacher_leader.teacher ) %>
              <%# else %>

              <%# end %>
          </td>
          <td><%= c.date_of_class_creation.strftime('%d.%m.%Y') %></td>                   <%# Show date in format of dd.mm.yyyy%>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Создать класс", new_school_class_path, :class => "btn btn-primary btn-large" %>

