<legend>Создание класса</legend>

<%= form_for @class, :html => {:class => "form-horizontal"} do |f| %>
  <%= field_set_tag do %>
    <div class="control-group">
      <%= f.label :class_code, "Номер класса", :class => "control-label" %>
      
      <div class="controls">
        <%= f.text_field :class_code, 
                         :class => "span2",
                         :value => @class_code,
                         :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :date_of_class_creation, "Дата создания класса", 
                  :class => "control-label" %>
          
      <div class="controls">
        <%= f.text_field :date_of_class_creation, 
                         :class => "span2",
                         :value => @creation_class_date,
                         :placeholder => @everpresent_field_placeholder %>
      </div>    
    </div>
    
    <div class="control-group">
	    <%= f.label :teacher_leader_id, "ФИО классного руководителя", 
	        :class => "control-label" %>
	        
	    <div class="controls">
        <%= f.select( :teacher_leader_id,                                                 # Here we use 'select' instead of 'select_tag' because 'select' allows us to give builder ('tl.select' here).
                      options_for_select( @leaders, @choosen_teacher )) %>  	     
	    </div>
	  </div>
    
    <div class="control-group">
      <%= f.label :pupil_ids, "Ученики в классе", 
                  :class => "control-label" %>
                  
      <div class="controls">        
        <%= hidden_field_tag "school_class[pupil_ids][]", nil %>                          
        <% @pupils.each do |pupil| %>          
          <%= label_tag dom_id( pupil ), nil, :class => "checkbox" do %>                  <%# Name, content_or_options = nil, options. %>
            <%= check_box_tag "school_class[pupil_ids][]",                                # [] brackets tells that this is array.
                              pupil.id,                                                   # Value of checkbox.
                              @class.pupil_ids.include?(pupil.id),                        # Here we automatically check checkboxes.
                              id: dom_id( pupil ) %>                                      <%# Give unique id for each value. 'dom_id' is Rails helper.%>
                              
            <%= "#{pupil.pupil_last_name} #{pupil.pupil_first_name} #{pupil.pupil_middle_name}"%>
          <% end %>
        <% end %>                                                                 
      </div>  
    </div>
        
    <%= f.submit "Создать", :class => "btn btn-large btn-success" %>
  <% end %>
<% end %>  