<legend>
  Редактирование даты <%= @school_class.class_code %> класса по предмету <%= @subject.subject_name%>
</legend>

<%= form_for @lesson, :html => {:class => "form-horizontal"} do |f| %>
  <%= field_set_tag do %>
    <%= hidden_field_tag :class_code, params[:class_code] %>
    <%= hidden_field_tag :subject_name, params[:subject_name] %>

    <div class="control-group">
	    <%= f.label :timetable_id, "Урок", :class => "control-label" %>
	    <div class="controls">
        <%= f.select( :timetable_id,                                                        # Here we use 'select' instead of 'select_tag' because 'select' allows us to give builder ('tl.select' here).
                      options_for_select( @timetables_collection, @lesson.timetable_id )) %>
	    </div>
	  </div>

    <div class="control-group">
      <%= f.label :lesson_date, "Дата", :class => "control-label" %>

      <div class="controls">
        <%= f.text_field :lesson_date, :class => "span2",
                         :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>

    <%= f.submit "Обновить", :class => "btn btn-large btn-warning" %>
  <% end %>
<% end %>