<%= form_for( @teacher ) do |f| %>  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Выбрать</th>
        <th>Предмет</th>
      </tr>
    </thead>
    <tbody>
      <%= hidden_field_tag "teacher[subject_ids][]", nil %>                               <%# We use hidden field because it doesn't submit unchecked fields. So, we pass nil and nothing will be submitted.%>
      <% Subject.all.each do |subject| %>         
        <tr>
          <td>
            <%= check_box_tag "teacher[subject_ids][]",                                   # [] brackets tells that this is array.
                              subject.id,                                                 # Value of checkbox.
                              @teacher.subject_ids.include?(subject.id),                  # Here we automatically check checkboxes.
                              id: dom_id( subject ) %>                                    <%# Give unique id for each value. 'dom_id' is Rails helper. We will have ids like: 'subject_1', 'subject_2' and etc. %>
          </td>
          <td>
            <%= label_tag dom_id(subject), 
                          subject.subject_name %>                                         <%# Put name of subject. %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= f.submit "Обновить", :class => "btn btn-large btn-warning" %> 
<% end %>