<%= form_for( @teacher ) do |f| %>

  <div class="field">
    <%= hidden_field_tag "teacher[subject_ids][]", nil %>
    <% Subject.all.each do |subject| %>
      <%= check_box_tag "teacher[subject_ids][]", subject.id, @teacher.subject_ids.include?(subject.id), id: dom_id(subject) %>
      <%= label_tag dom_id(subject), subject.subject_name %><br>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>