<legend>Список учителей (нажмите на учителя для выбора его предметов)</legend>

<table class="table table-bordered table-striped" name="teachers">
  <thead>
    <tr>
      <th>Фамилия</th>      
      <th>Имя</th>                 
      <th>Отчество</th>                 
    </tr>
  </thead>
  <tbody>
    <% if @teachers_exist %>        
      <% @teachers.each do |t| %>          
        <tr class="cross" onclick = "location.href='<%= edit_teacher_path( :id => t.id ) %>'">
          <td><%= t.teacher_last_name %></td>
          <td><%= t.teacher_first_name %></td>
          <td><%= t.teacher_middle_name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<legend>Список классных руководителей</legend>

<table class="table table-bordered table-striped" name="class_heads">
  <thead>
    <tr>
      <th>Фамилия</th>      
      <th>Имя</th>                 
      <th>Отчество</th>                 
    </tr>
  </thead>
  <tbody>
    <% if @teachers_exist %>
      <% @teachers_leaders.each do |t| %>
        <tr class="cross" onclick = "location.href='<%= edit_teacher_leader_path( :id => t.id ) %>'">
          <td><%= t.teacher_last_name %></td>
          <td><%= t.teacher_first_name %></td>
          <td><%= t.teacher_middle_name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>   
</table>

<%= link_to "Создать классного руководителя", 
    new_teacher_leader_path, :class => "btn btn-primary btn-large" %>