<legend>Задания</legend>

<% unless @subject.nil? %>
  <%# CHOOSING CLASS. %>
  <div style="margin-top: 18px;" class="btn-toolbar">
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
        Выбрать класс
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
  			<% @classes.each do |c| %>
  			  <li>
  			    <%= link_to c.class_code, homeworks_path( :class_code => c.class_code,
  			                                              :subject_name => params[:subject_name]) %>
  			  </li>
  			<% end %>
      </ul>
    </div>
  </div>

  <table class="table table-bordered" name="homeworks">
    <thead>
      <tr>
        <th>Урок</th>
        <th>Задание</th>
      </tr>
    </thead>
    <tbody>
      <% if @homeworks_exist %>
        <% @homeworks_collection.each do |h| %>
          <tr class="cross" onclick = "location.href='<%= edit_homework_path(
                                        :id => h.id, :class_code => params[:class_code],
                                        :subject_name => params[:subject_name] ) %>'">
            <td><%= homework_lesson_info( h ) %></td>
            <td><%= h.task_text %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div style="margin-top: 18px;" class="btn-toolbar">
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
        Создать задание
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
  			<% @classes.each do |c| %>
  			  <li>
  			    <%= link_to c.class_code, new_homework_path( :class_code => c.class_code,
  			                                                 :subject_name => params[:subject_name]) %>
  			  </li>
  			<% end %>
      </ul>
    </div>
  </div>
<% end %>