<legend>Просмотр расписания</legend>

<% unless @subject.nil? %>
  <div style="margin-top: 18px;" class="btn-toolbar">
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
        Выбрать класс
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
  			<% @classes.each do |c| %>
  			  <li>
  			    <%= link_to c.class_code, journals_path( :class_code => c.class_code,
  			                                             :subject_name => params[:subject_name]) %>
  			  </li>
  			<% end %>
      </ul>
    </div>
  </div>

  <table class="tablee table-bordered table-striped" name="journals">
    <thead>
      <tr>
        <th>Ученик\Дата</th>
        <% if @lessons_exist %>
          <% @lessons.each do |l| %>
            <th>
              <%= link_to l.lesson_date.strftime("%d.%m.%Y"),
                  edit_lesson_path( :id => l.id,:class_code => params[:class_code],
                                    :subject_name => params[:subject_name]) %>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @pupils_exist and @lessons_exist %>
        <% @pupils.each do |p| %>
          <tr>
            <td><%= pupil_full_names( p ) %></td>

            <% @lessons.each do |l| %>
              <% if l.attendance.nil? %>                                                  <%# If nobody created attendance. %>
                <td class="cross selectt"
                    onclick = "location.href='<%= new_attendance_path(
                                             :class_code => params[:class_code],
                                             :subject_name => params[:subject_name]) %>'">
                </td>
              <% else %>                                                                  <%# If attendance exists. %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div style="margin-top: 18px;" class="btn-toolbar">
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
        Создать дату
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
  			<% @classes.each do |c| %>
  			  <li>
  			    <%= link_to c.class_code, new_lesson_path( :class_code => c.class_code,
  			                                               :subject_name => params[:subject_name]) %>
  			  </li>
  			<% end %>
      </ul>
    </div>
  </div>
<% end %>