<legend>Журнал класса</legend>

<% if not @school_class.nil? and not @subjects_of_class.empty? %>
  <div style="margin-top: 18px;" class="btn-toolbar">
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
        Выбрать предмет
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
  			<% @subjects_of_class.each do |s| %>
  			  <li>
  			    <%= link_to s.subject_name, journals_show_class_head_path( :s_id => s.id ) %>
  			  </li>
  			<% end %>
      </ul>
    </div>
  </div>

  <% if @show_journal %>
    <table class="tablee table-bordered scrol" name="journals">
      <thead>
        <tr>
          <th>Ученик\Дата</th>

          <% if @lessons_exist %>
            <% @lessons.each do |l| %>
              <th>
                <%= l.lesson_date.strftime("%d.%m.%Y") %>
              </th>
            <% end %>
          <% end %>

          <th>Посещение</th>

          <th>Средний балл</th>
        </tr>
      </thead>
      <tbody>
        <% if @pupils_exist and @lessons_exist %>
          <% @pupils.each do |p| %>
            <tr>
              <td><%= pupil_full_names( p ) %></td>

              <% @lessons.each do |l| %>
                <% if not attendance_of_lesson_for_pupil_exists?( p.id, l.id ) %>           <%# If nobody created attendance. %>
                  <td>
                  </td>
                  <% else %>                                                                  <%# If attendance exists. %>
                    <td class="cross selectt <%= color_of_attendance( p.id, l.id )  %>">
                        <%= render :partial => 'show_pupil_estimation',
                            :locals => { :lesson => l, :pupil => p }%>
                    </td>
                  <% end %>
              <% end %>

              <td><%#= "#{number_of_visited_lessons( p, @subject )} из #{@lessons.size}" %></td> <%# Showing number of visited lessons. %>

              <td><%#= "#{average_estimation_for_pupil_lesson( p, @subject )}" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>