<div class="control-group">
  <%= f.label :parent_last_name, "Фамилия", :class => "control-label" %>

  <div class="controls">
    <%= f.text_field :parent_last_name, :placeholder => field_placeholder %>
  </div>
</div>

<div class="control-group">
  <%= f.label :parent_first_name, "Имя", :class => "control-label" %>

  <div class="controls">
    <%= f.text_field :parent_first_name, :placeholder => field_placeholder %>
  </div>
</div>

<div class="control-group">
  <%= f.label :parent_middle_name, "Отчество", :class => "control-label" %>

  <div class="controls">
    <%= f.text_field :parent_middle_name, :placeholder => field_placeholder %>
  </div>
</div>

<div class="control-group">
  <%= f.label :parent_sex, "Пол", :class => "control-label" %>

  <div class="controls">
    <%= label_tag nil, nil, :class => "radio" do %>
      <%= f.radio_button :parent_sex, 'm' %>
      Мужской
    <% end %>

    <%= label_tag nil, nil, :class => "radio" do %>
      <%= f.radio_button :parent_sex, 'w' %>
      Женский
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :parent_birthday, "Дата рождения", :class => "control-label" %>

  <div class="controls">
    <%= f.date_select :parent_birthday,
                      { :start_year => date_year_from_now( 70 ),
                        :end_year => date_year_from_now( 18 ),
                        :order => [:day, :month, :year],
                        :use_month_names => russian_names_of_months() },
                      { :class => "span2" } %>
  </div>
</div>

<div class="control-group">
  <%= f.label :pupil_ids, "Дети", :class => "control-label" %>

  <div class="controls">
    <%= hidden_field_tag "parent[pupil_ids][]", nil %>

    <% Pupil.all.each do |p| %>
      <%= label_tag dom_id( p ), nil, :class => "checkbox" do %>
        <%= check_box_tag "parent[pupil_ids][]",                                          # [] brackets tells that this is array.
                          p.id,                                                           # Value of checkbox.
                          @parent.pupil_ids.include?( p.id ),                             # Here we automatically check checkboxes.
                          id: dom_id( p ) %>                                              <%# Give unique id for each value. 'dom_id' is Rails helper. %>

        <%= pupil_full_names( p ) %>                                                      <%# Use helper from helpers/application_helper %>
      <% end %>
    <% end %>
  </div>
</div>