<legend>Ученики</legend>

<div style="margin-top: 18px;" class="btn-toolbar">
  <div class="btn-group">
    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
      Отфильтровать по классу
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
			<li><%= link_to "Все ученики", pupils_path %></li>
			
			<% @classes.each do |c| %>
			  <li><%= link_to c.class_code, pupils_path( :class_code => c.class_code ) %></li>			
			<% end %>
    </ul>
  </div>
</div>

<table class="table table-bordered table-striped" name="teachers">
  <thead>
    <tr>
      <th>Фамилия</th>                     
      <th>Имя</th>                     
      <th>Отчество</th>
      <th>Класс</th>                     
    </tr>
  </thead>
  <tbody>
    <% if @pupil_exist %>        
      <% @pupils.each do |p| %>          
        <tr class="cross" onclick = "location.href='<%= edit_pupil_path( :id => p.id ) %>'">
          <td><%= "#{p.pupil_last_name}" %></td>
          <td><%= "#{p.pupil_first_name}" %></td>
          <td><%= "#{p.pupil_middle_name}" %></td>
          <td> <% if not p.school_class.nil? %>
                 <%= "#{p.school_class.class_code}" %>
               <% else %>
                 --                  
               <% end %>   
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Создать ученика", new_pupil_path, :class => "btn btn-primary btn-large" %>