<legend>Создание ученика</legend>

<%= form_for @pupil, :html => {:class => "form-horizontal"} do |f| %>
  <%= field_set_tag do %>
    <div class="control-group">
      <%= f.label :pupil_last_name, "Фамилия", :class => "control-label" %>      
      <div class="controls">
        <%= f.text_field :pupil_last_name, :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :pupil_first_name, "Имя", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :pupil_first_name, :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :pupil_middle_name, "Отчество", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :pupil_middle_name, :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :pupil_sex, "Пол", :class => "control-label" %>
      <div class="controls">
        <%= label_tag nil, nil, :class => "radio" do %>
          <%= f.radio_button :pupil_sex, 'm' %>
          Мужской
        <% end %>
      
        <%= label_tag nil, nil, :class => "radio" do %>
          <%= f.radio_button :pupil_sex, 'w', :checked => true %>
          Женский
        <% end %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :pupil_birthday, "Дата рождения", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :pupil_birthday, :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :pupil_nationality, "Национальность", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :pupil_nationality, :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :pupil_address_of_registration, "Адрес прописки", :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :pupil_address_of_registration, :rows => 3, 
                        :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :pupil_address_of_living, "Адрес проживания", :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :pupil_address_of_living, :rows => 3, 
                        :placeholder => @everpresent_field_placeholder %>
      </div>
    </div>
        
    <%= f.fields_for :user, @user do |builder| %>                                         <%# Adding @user allows us to send user_params for belongs_to model. %>
      <%= render :partial => 'shared/user_fields_new', 
          :locals => { :f => builder,
                       :field_placeholder => @everpresent_field_placeholder,
                       :login => "",
                       :password => "",
                       :login_field_id => "pupil_user_attributes_user_login",
                       :password_field_id => "pupil_user_attributes_password" 
                      }
      %>
    <% end %>

    <%= f.submit "Создать", :class => "btn btn-large btn-success" %>
  <% end %>  
<% end %>  