<%= link_to "E-school", pupils_path, :class => "brand" %>

<ul class="nav">
   <li class=<%= active_toolbar?( pupils_path ) %>>
     <%= link_to "Ученики", pupils_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( parents_path ) %>>
     <%= link_to "Родители", parents_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( teachers_path ) %>>
     <%= link_to "Учителя", teachers_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( school_classes_path ) %>>
     <%= link_to "Классы", school_classes_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( subjects_path ) %>>
     <%= link_to "Предметы", subjects_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( orders_path ) %>>
     <%= link_to "Приказы", orders_path %>
   </li>
</ul>