<div class="navbar">
  	<div class="navbar-inner">
        <div class="container">

             <% if not signed_in?  %>
                <%= link_to "E-school", root_path, :class => "brand" %>
             <% end %>

             <% if signed_in? and current_user_admin? %>
                <%= render 'layouts/header_for_admin' %>
             <% end %>

             <% if signed_in? and current_user_school_head? %>
                <%= render 'layouts/header_for_school_head' %>
             <% end %>

             <% if signed_in? and current_user_class_head? %>
                <%= render 'layouts/header_for_class_head' %>
             <% end %>

             <% if signed_in? and current_user_teacher? %>
                <%= render 'layouts/header_for_teacher' %>
             <% end %>

             <% if signed_in? and current_user_parent? %>
                <%= render 'layouts/header_for_parent' %>
             <% end %>

             <% if signed_in? and current_user_pupil? %>
                <%= render 'layouts/header_for_pupil' %>
             <% end %>

             <ul class="nav pull-right">
               <% if signed_in? and current_user_parent? %>
                 <%= render 'layouts/parent_personal_info' %>
               <% end %>

                <li class="divider-vertical"/></li>
               <% if signed_in? %>
                    <li><%= link_to "Выход", signout_path, :method => :delete %></li>
               <% end %>
             </ul>
        </div>
   </div>
</div>