<%= link_to "E-school", events_path, :class => "brand" %>

<ul class="nav">
   <li class=<%= active_toolbar?( events_path ) %>>
     <%= link_to "Мероприятия", events_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( reports_path ) %>>
     <%= link_to "Отчеты", reports_path %>
   </li>
</ul>