<%= link_to "E-school", admins_users_of_system_path, :class => "brand" %>

 <ul class="nav">
    <li class=<%= active_toolbar?( admins_backups_path ) %>>
      <%= link_to "Резервные копии",admins_backups_path %>
    </li>
    <li class=<%= active_toolbar?(admins_users_of_system_path) %>>
      <%= link_to "Учетные записи", admins_users_of_system_path %>
    </li>
 </ul>