<%= link_to "E-school", journals_path, :class => "brand" %>

<ul class="nav">
  <%# JOURNAL. %>
  <li class="dropdown <%= active_toolbar?( journals_path ) %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Журнал
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <%# Show in dropdown list of all subjects and it's link. %>
      <% current_user.teacher.subjects.each do |s|%>
        <li>
          <%= link_to s.subject_name, journals_path( :subject_name => s.subject_name ) %>
        </li>
      <% end %>

      <% if current_user.teacher.subjects.empty? %>
        <li>
            Вы не ведете ни одного предмета.
        </li>
      <% end %>
    </ul>
  </li>

  <%# RESULTS %>
  <li class="dropdown <%= active_toolbar?( results_path ) %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Итоги
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <% unless current_user.teacher.subjects.empty? %>
        <% current_user.teacher.subjects.each do |s| %>
          <li>
            <%= link_to s.subject_name, results_path( :subject_name => s.subject_name ) %>
          </li>
        <% end %>
      <% else %>
        <li>
            Вы не ведете ни одного предмета.
        </li>
      <% end %>
    </ul>
  </li>
</ul>
