<%= link_to "E-school", meetings_show_parent_path, :class => "brand" %>

<ul class="nav">
  <%# MEETINGS. %>
  <li class="dropdown <%= active_toolbar?( meetings_show_parent_path ) %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Родительские собрания
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <% unless current_user.parent.pupils.empty? %>
        <% current_user.parent.pupils.each do |p| %>
          <li>
            <%= link_to pupil_full_names( p ), meetings_show_parent_path( :p_id => p.id ) %> <%# To find children we pass their id.  %>
          </li>
        <% end %>
      <% else %>
        <li>
          У вас нет детей.
        </li>
      <% end %>
    </ul>
  </li>

  <%# EVENTS. %>
  <li class="dropdown <%= active_toolbar?( events_show_parent_path ) %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Мероприятия
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <% unless current_user.parent.pupils.empty? %>
        <% current_user.parent.pupils.each do |p| %>
          <li>
            <%= link_to pupil_full_names( p ), events_show_parent_path( :p_id => p.id ) %> <%# To find children we pass their id.  %>
          </li>
        <% end %>
      <% else %>
        <li>
          У вас нет детей.
        </li>
      <% end %>
    </ul>
  </li>
</ul>