<%= link_to "E-school", users_path, :class => "brand" %>

 <ul class="nav">
    <li class=<%= active_toolbar?( admins_backups_path ) %>>
      <%= link_to "Резервные копии", admins_backups_path %>
    </li>
    <li class=<%= active_toolbar?( users_path ) %>>
      <%= link_to "Учетные записи", users_path %>
    </li>
 </ul>