<%= link_to "E-school", journals_show_pupil_path, :class => "brand" %>

<ul class="nav">
   <li class=<%= active_toolbar?( timetables_show_pupil_path ) %>>
     <%= link_to "Расписание", timetables_show_pupil_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( journals_show_pupil_path ) %>>
     <%= link_to "Успеваемость", journals_show_pupil_path %>
   </li>
</ul>

<ul class="nav">
   <li class=<%= active_toolbar?( meetings_show_pupil_path ) %>>
     <%= link_to "Родительские собрания", meetings_show_pupil_path %>
   </li>
</ul>