<!DOCTYPE html>
<html>
<head>
  <title>ElSchool</title>
  <%= javascript_include_tag "jquery" %>                                      <%# Adding jquery. We need that for working dropdown buttons, for example. %>
  <%= javascript_tag "$(document).ready(function(){
  			          $('.dropdown-toggle').dropdown();
  			          });" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>                                   <%# Adding bootstrap css file.  %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>

    <div class="container">
        <div class="well">
          <% flash.each do |key, value| %>                                    <%# Now we can call flash messages in our views. %>
              <%= content_tag(:div, value, :class => "alert alert-#{key}") %>
          <% end %>

          <%= yield %>

          <%= debug(params) if Rails.env.development? %>
        </div>
    </div>
</body>
</html>
